* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", "Courier New", Courier, monospace;
  color: hsl(0, 0%, 7%);
}

.card {
  max-width: 22rem;
  width: 100%;
  margin-block: auto;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0.6rem 0.6rem 0.6rem black;
}

.content img {
  overflow-clip-margin: content-box;
  overflow: clip;
  border-radius: 10px;
}

.content .learning {
  background-color: hsl(47, 88%, 63%);
  align-self: flex-start;
  padding: 0.5rem 0.6rem;
  font-size: 0.9rem;
  font-weight: 800;
  border-radius: 5px;
  margin: 1rem 0 0.8rem 0;
  border: none;
}
.lear .title {
  font-size: 0.9rem;
  font-weight: 600;
}

.head {
  margin-top: 1rem;
}
.head a {
  font-size: 1.2rem;
  font-weight: 900;
  color: black;
  text-decoration: none;
  &:hover {
    color: hsl(47, 88%, 63%);
  }
}

.description {
  font-size: 1rem;
  color: hsl(0, 0%, 50%);
  font-weight: 500;
  margin-block: 1rem;
  line-height: 1.2rem;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.avatar img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.avatar p {
  font-size: 1rem;
  font-weight: 800;
}
@media (max-width: 768px) {
  .card {
    max-width: 18rem;
  }
  .content .learning {
    font-size: 0.8rem;
  }
  .head a {
    font-size: 1rem;
    &:hover {
      color: hsl(47, 88%, 63%);
      cursor: pointer;
    }
  }

  .description {
    font-size: 0.9rem;
  }
  .avatar img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .avatar p {
    font-size: 0.9rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .card {
    max-width: 25rem;
  }
  .content .learning {
    font-size: 1rem;
  }
  .head a {
    font-size: 1.3rem;
    &:hover {
      color: hsl(47, 88%, 63%);
      cursor: pointer;
    }
  }

  .description {
    font-size: 1.1rem;
  }
  .avatar img {
    width: 3.5rem;
    height: 3.5rem;
  }
  .avatar p {
    font-size: 1.1rem;
  }
}
